<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="${basedir}/Logs/nlog-internal.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target xsi:type="FallbackGroup" name="engineTargetGroup" returnToFirstOnSuccess="true">
            <!-- file target -->
            <target name="fileLog"
                    xsi:type="File"
                    fileName="${basedir}/Logs/${shortdate}/logs.csv"
                    keepFileOpen="false"
                    concurrentWrites="true">
                <layout xsi:type="CsvLayout" delimiter="Auto" withHeader="true">
                    <column name="machineName" layout="${machinename}" quoting="Nothing" />
                    <column name="logged" layout="${date}" quoting="Nothing" />
                    <column name="level" layout="${level}" quoting="Nothing" />
                    <column name="message" layout="${exception:format=message}" quoting="All" />
                    <column name="logger" layout="${logger}" quoting="Nothing" />
                    <column name="properties" layout="${all-event-properties:separator=|}" quoting="All" />
                    <column name="callsite" layout="${callsite}" quoting="All" />
                    <column name="exception" layout="${exception:tostring}" quoting="All" />
                    <column name="stackTrace" layout="${exception:format=stackTrace}" quoting="All" />
                    <column name="innerException"
                            layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}"
                            quoting="All" />
                    <column name="additionalInfo" layout="${message}" quoting="All" />
                </layout>
            </target>
        </target>
    </targets>
    <rules>
        <!-- engine logger -->
        <logger minlevel="Trace" name="Panel_Lidera_Linii.*" writeTo="engineTargetGroup" />
    </rules>
</nlog>
